[submodule "third_party/whisper.cpp"]
	path = third_party/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
[submodule "third_party/uWebSockets"]
	path = third_party/uWebSockets
	url = https://github.com/uNetworking/uWebSockets.git
